@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

#__next {
  height: 100%;
}

/* Leaflet CSS */
@import 'leaflet/dist/leaflet.css';
